.selection {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;

  &__item {
    background-color: #131313;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
  }

  &__active {
    transition: 0.2s all;
    background-color: #424242;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
  }
}
