.page-hero {
  text-align: left;
  position: relative;
  margin-top: 30px;

  &__content {
    display: flex;
    gap: 25px;
    padding: 25px;
    font-family: "Druk Text Trial";
    text-transform: uppercase;
  }

  &__img-box {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(244, 244, 244);
    padding: 15px;
    margin: 5px;
    img {
      width: 15vw;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    p,
    h1 {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 700px) {
  .page-hero {
    &__img-box {
      img {
        width: 100px;
      }
    }
  }
}
