.nav-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #131313;
}

.nav {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  color: white;

  a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 25px;
  }
}
