.table {
  // background-color: #131313;
  padding: 25px;
  // margin-top: 30px;
}

.table-selection {
  border: 2px solid grey;
  padding: 10px;

  &__active {
    background-color: rgb(61, 61, 61);
  }
}
